<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title"><%= @page.title %></h2>
        <p class="card-text"><%= sanitize @page.body %></p>

        <%= link_to 'Edit page', edit_page_path, class: 'btn btn-secondary mt-5' %>

        <%= link_to 'Add page', new_page_path, class: 'btn btn-secondary mt-5' %>
       
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Child pages</h5>
        <%= nested_pages @pages.arrange(order: :name) %>
      </div>
    </div>
  </div>
</div>
