<!DOCTYPE html>
<html>
  <head>
    <title>TreeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <header class="p-3 mb-5 bg-black text-white">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-center mb-md-0">
            <li><%= link_to 'Home', root_path, class: 'nav-link px-2' %></li>
            <li><%= link_to 'Add RootPage', add_path, class: 'nav-link px-2'  %></li>     
          </ul>
        </nav>
      </header>

      <% flash.each do |key, v| %>
        <%= tag.div v, class: "alert alert-#{key}", role: 'alert' %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
